@using ESFA.DC.Web.Operations.Constants
@using ESFA.DC.Web.Operations.Extensions
@using ESFA.DC.Web.Operations.Utils
@model List<ESFA.DC.Web.Operations.Models.Notifications.Notification>

@{
    ViewData["Title"] = "Manage notifications";
    ViewData[ViewDataConstants.BackLink] = "/";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-x1">Manage notifications</h1>
    </div>
</div>

@Html.ActionLink("Add a new message","Manage","Notifications", null, new { @class= "govuk-button" })

<br>
<div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            @foreach (var message in Model)
            {
                <tr class="govuk-table__row govuk-!-font-size-24">
                    <td class="govuk-!-font-weight-bold" colspan="0">@message.Headline</td>
                    @if (@message.IsActive)
                    {
                        <td class="govuk-tag govuk-!-font-weight-bold">Active</td>
                    }
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-!-font-weight-bold">Start date</td>
                    <td>@message.StartDate.ToDateString()</td>
                    <td class="govuk-!-font-weight-bold">Start time</td>
                    <td>@message.StartTime.ToTime()</td>
                    <td>
                        @Html.ActionLink("Manage", "Manage", "Notifications", new { area= AreaNames.Notifications, notificationId = message.Id })
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">Finish date</td>
                    <td class="govuk-table__cell">@message.EndDate.ToDateString()</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold">Finish time</td>
                    <td class="govuk-table__cell">@message.EndTime.ToTime()</td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr><td><br /></td></tr>
            }
        </tbody>
    </table>
</div>