@model ESFA.DC.Web.Operations.Areas.Provider.Models.ManageAssignmentsViewModel
@using ESFA.DC.Web.Operations.Constants

@{
    ViewData["Title"] = "Manage assignments";
    ViewData[ViewDataConstants.BackLink] = "/provider/ManageProviders?ukprn=" + Model.Ukprn;
}

<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">

<br>
<form asp-area="Provider" asp-controller="ManageAssignments" asp-action="Submit" method="post">
    <input asp-for="Ukprn" type="hidden" />
    <input asp-for="ProviderName" type="hidden" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-heading-xl govuk-!-margin-bottom-0">Manage assignments</p>
            <p>@Model.ProviderName, @Model.Ukprn</p>
            <div class="govuk-!-font-weight-bold">Edit active assignments</div>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Collection</th>
                        <th scope="col" class="govuk-table__header">Start date</th>
                        <th scope="col" class="govuk-table__header">End date</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body" id="assignments">
                    @for (int i = 0; i < Model.ActiveCollectionsAssignments.Count; i++)
                    {
                        <tr class="govuk-table__row">
                            <input asp-for="@Model.ActiveCollectionsAssignments[i].CollectionId" type="hidden" />
                            <input asp-for="@Model.ActiveCollectionsAssignments[i].Name" type="hidden" />
                            <input asp-for="@Model.ActiveCollectionsAssignments[i].DisplayOrder" type="hidden" />
                            <td class="govuk-table__cell table">
                                @Model.ActiveCollectionsAssignments[i].Name
                            </td>
                            <td class="govuk-table__cell">
                                <input asp-for="@Model.ActiveCollectionsAssignments[i].StartDate" type="date" class="govuk-input" />
                            </td>
                            <td class="govuk-table__cell">
                                <input asp-for="@Model.ActiveCollectionsAssignments[i].EndDate" type="date" class="govuk-input" />
                            </td>
                            <td class="govuk-table__cell">
                                <button data-prevent-double-click="true" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-top-0" asp-controller="ManageAssignments" asp-action="Remove" asp-route-collectionId="@Model.ActiveCollectionsAssignments[i].CollectionId">Remove</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="govuk-!-font-weight-bold">Add assignments</div>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Collection</th>
                        <th scope="col" class="govuk-table__header">Start date</th>
                        <th scope="col" class="govuk-table__header">End date</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body" id="assignments">
                    @for (int i = 0; i < Model.InactiveCollectionAssignments.Count; i++)
                    {
                        <tr class="govuk-table__row">
                            <input asp-for="@Model.InactiveCollectionAssignments[i].CollectionId" type="hidden" />
                            <input asp-for="@Model.InactiveCollectionAssignments[i].Name" type="hidden" />
                            <input asp-for="@Model.InactiveCollectionAssignments[i].DisplayOrder" type="hidden" />
                            <td class="govuk-table__cell table">
                                @Model.InactiveCollectionAssignments[i].Name
                            </td>
                            <td class="govuk-table__cell">
                                <input asp-for="@Model.InactiveCollectionAssignments[i].StartDate" type="date" class="govuk-input" />
                            </td>
                            <td class="govuk-table__cell">
                                <input asp-for="@Model.InactiveCollectionAssignments[i].EndDate" type="date" class="govuk-input" />
                            </td>
                            <td class="govuk-table__cell">
                                <button data-prevent-double-click="true" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-top-0" asp-controller="ManageAssignments" asp-action="Add" asp-route-collectionId="@Model.InactiveCollectionAssignments[i].CollectionId">Add</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="govuk-grid-row">
        <button asp-controller="ManageAssignments" asp-action="Submit" class="govuk-button">Save changes</button>
    </div>
    <div class="govuk-grid-row">
        <a class="govuk-back-link" href="/provider/ManageProviders?ukprn=@Model.Ukprn">Cancel</a>
    </div>
</form>