@model ESFA.DC.Web.Operations.ViewModels.PeriodEndPrepViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-bottom: 10px;">Period end</h1>
        <br />
        <h2 class="govuk-heading-l">Period R@(Model.Period.ToString().PadLeft(2, '0')) of Year @Model.Year</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
            <li>
                <a href="#" class="govuk-link">Application version</a>
            </li>
            <li>
                @Html.ActionLink("Email Distribution", "Index", "PeriodEndDistributionList", new {area = "periodend"}, new {@class="govuk-link"})
            </li>
            <li>
                @Html.ActionLink("Reports", "Index", "PeriodEndReport", new { area = "periodend" }, new { @class = "govuk-link" })
            </li>
            <li>
                <a href="#" class="govuk-link">History</a>
            </li>
        </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">

        @if (Model != null)
        {
            <div class="flex space-between">
                <h2 class="govuk-heading-m">Failed submissions</h2>
            </div>

            @using (Html.BeginForm("ReSubmitJob", "PeriodEndPrep", FormMethod.Post, new { @id = "failedJobForm", @class = "app-task-list__section" }))
            {
                <input type="hidden" name="collectionYear" value="@Model.Year" />
                <input type="hidden" name="period" value="@Model.Period" />

                <div id="failedJobContainer"></div>
            }
        }

        <br />
        <br />

        @if (Model != null)
        {
            <h2 class="govuk-heading-m">Reference data jobs</h2>

            @using (Html.BeginForm("PauseReferenceJobs", "PeriodEndPrep", FormMethod.Post, new { @class = "app-task-list__section" }))
            {
                <input type="hidden" name="collectionYear" value="@Model.Year" />
                <input type="hidden" name="period" value="@Model.Period" />

                <a href="#" class="govuk-button" id="pause-all-jobs">
                    Pause reference data jobs
                </a>

                <div class="confirm-pause" id="confirm-pause" style="display: none;">
                    <h3 class="govuk-heading-s">Are you sure?</h3>

                    <p>These reference data jobs can’t be resumed until the period end process is complete.</p>

                    <p>
                        <input type="submit" class="govuk-button yes-pause" style="margin-left: 0;" id="pauseReferenceData" value="Yes, pause jobs."
                               onclick="return true;">
                        &nbsp; &nbsp; &nbsp;
                        <a href="#" class="govuk-link cancel-pause" id="cancel-pause">Cancel</a>
                    </p>

                </div>

                <div class="govuk-panel govuk-panel--confirmation pause-confirmation" id="pause-confirmation" style="display: none;">
                    <h1 class="govuk-panel__title govuk-!-font-size-27">
                        All reference data jobs have been paused
                    </h1>
                </div>
            }

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Job</th>
                        <th class="govuk-table__header" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body" id="referenceDataContainer"></tbody>
            </table>
        }

        <br />
        <br />

        @using (Html.BeginForm("StartPeriodEnd", "PeriodEndPrep", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <input type="hidden" name="collectionYear" value="@Model.Year" />
            <input type="hidden" name="period" value="@Model.Period" />
            <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="startPeriodEnd" value="Continue">
        }
    </div>
</div>

@section PageScripts
{
    <script src="~/assets/js/periodEnd/renderJobs.js"></script>
    <script src="~/assets/js/periodEnd/confirmPause.js"></script>
    <script src="~/assets/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/js/hubs/periodEndPrep.js"></script>
    
    <script>
        (function() {
            let referenceJobs = '@Html.Raw(Model?.ReferenceDataJobs)';
            let failedJobs = '@Html.Raw(Model?.FailedJobs)';

            initialiseConfirmation(referenceJobs);

            renderJobs(referenceJobs, failedJobs);
        })();
    </script>
}