@using ESFA.DC.Web.Operations.Utils
@using ESFA.DC.Web.Operations.Constants
@model ESFA.DC.Web.Operations.Areas.PeriodEnd.Models.PeriodEndPrepViewModel

@{
    ViewData["Title"] = "Index";
    ViewData[ViewDataConstants.BackLink] = "/";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl heading-bottom-margin">Period end</h1>
        <br />
        <h2 class="govuk-heading-l">Period R@(Model.Period.ToString().PadLeft(2, '0')) of Year @Model.Year</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
            <li>
                @Html.ActionLink("Application Version", "Index", "Version", new { area = AreaNames.PeriodEnd }, new { @class = "govuk-link" })
            </li>
            <li>
                @Html.ActionLink("Email Distribution", "Index", "List", new { area = AreaNames.EmailDistribution }, new { @class = "govuk-link" })
            </li>
            <li>
                @Html.ActionLink("Reports", "Index", "PeriodEndReport", new { area = AreaNames.PeriodEnd }, new { @class = "govuk-link" })
            </li>
            <li>
                @Html.ActionLink("History", "Index", "History", new { area = AreaNames.PeriodEnd }, new { @class = "govuk-link" })
            </li>
        </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">

        @if (Model != null)
        {
            <div class="flex space-between">
                <h2 class="govuk-heading-m">Failed submissions</h2>
            </div>

            <div id="failedJobContainer"></div>
        }

        <br />
        <br />

        @if (Model != null)
        {
            <h2 class="govuk-heading-m">Reference data jobs</h2>

            <button class="govuk-button" id="pause-all-jobs" disabled>
                Pause reference data jobs
            </button>

            <div class="confirm-pause" id="confirm-pause" style="display: none;">
                <h3 class="govuk-heading-s">Are you sure?</h3>

                <p>These reference data jobs can’t be resumed until the period end process is complete.</p>

                <p>
                    <button type="submit" class="govuk-button yes-pause no-left-margin" id="pauseReferenceData"
                            onclick="window.prepClient.pauseReferenceDataJobs(@Model.Year, @Model.Period);">
                        Yes, pause jobs.
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <a href="#" class="govuk-link cancel-pause" id="cancel-pause">Cancel</a>
                </p>

            </div>

            <div class="govuk-panel govuk-panel--confirmation pause-confirmation" id="pause-confirmation" style="display: none;">
                <h1 class="govuk-panel__title govuk-!-font-size-27">
                    All reference data jobs have been paused
                </h1>
            </div>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Job</th>
                        <th class="govuk-table__header" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body" id="referenceDataContainer"></tbody>
            </table>
        }

        <br />
        <br />
        
        <button class="govuk-button customised" id="collectionClosed"
                onclick="window.prepClient.collectionClosedEmail(@Model.Year, @Model.Period);" disabled>
            Send Collection Closed Email
        </button>

        <br />
        <br />

        @using (Html.BeginForm("StartPeriodEnd", "PeriodEndPrep", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <input type="hidden" name="collectionYear" value="@Model.Year" />
            <input type="hidden" name="period" value="@Model.Period" />
            <input type="submit" class="govuk-button customised" id="startPeriodEnd" value="Continue" disabled>
        }
    </div>
</div>

<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <label id="lastSync"></label>

        <label id="state"></label>
    </div>
</div>

@section PageScripts
{
    <script src="~/assets/js/signalr/dist/browser/signalr.js"></script>

    <script type="module">
        import JobController from "/assets/js/periodEnd/jobController.js";
        import Confirm from '/assets/js/periodEnd/confirmationController.js';
        import Hub from '/assets/js/hubs/periodEndPrepHub.js';
        import Client from '/assets/js/periodEnd/client.js';
        
        const isCurrentPeriod = '@Html.Raw(Model?.IsCurrentPeriod)' === 'True';
        const hub = new Hub();
        hub.startHub(isCurrentPeriod);

        window.prepClient = new Client(hub.getConnection());

        (function() {
            const periodClosed = '@Html.Raw(Model?.Closed)';
            const referenceJobs = '@Html.Raw(Model?.ReferenceDataJobs)';
            const failedJobs = '@Html.Raw(Model?.FailedJobs)';
            const collectionClosedEmailSent = '@Html.Raw(Model?.CollectionClosedEmailSent)';

            const confirm = new Confirm();
            confirm.initialiseConfirmation(referenceJobs, periodClosed, collectionClosedEmailSent);

            const jobController = new JobController();
            jobController.renderJobs(referenceJobs, failedJobs);
        })();

    </script>
}