@model ESFA.DC.Web.Operations.ViewModels.PeriodEndViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-bottom:10px;">Period end</h1>
        <br />
        <h2 class="govuk-heading-l">Period R@(Model.Period.ToString().PadLeft(2, '0')) of Year @Model.Year</h2>


        @using (Html.BeginForm("SelectPeriod", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <div>
                <span style="display: inline-block; width: 170px; text-align: right;"><label>Collection Year</label></span>
                <input type="text" name="collectionYear" style="float: right; width: 200px; margin-left: 10px;" />
            </div>

            <div>
                <span style="display: inline-block; width: 170px; text-align: right;"><label>Period</label></span>
                <input type="text" name="period" style="float: right; width: 200px; margin-left: 10px;" />
            </div>

            <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="start" value="Select Period">
        }

        <br />

        @*@if (Model != null && Model.Period == Model.CurrentPeriod)
        {*@
            @using (Html.BeginForm("PauseReferenceJobs", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
            {
                <input type="hidden" name="collectionYear" value="@Model.Year" />
                <input type="hidden" name="period" value="@Model.Period" />
                <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="pauseReferenceData" value="Pause Reference Data Jobs">
            }
        @*}*@

        <br />

        @*@if (Model != null && Model.Period == Model.CurrentPeriod)
        {*@
            @using (Html.BeginForm("StartPeriodEnd", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
            {
                <input type="hidden" name="collectionYear" value="@Model.Year" />
                <input type="hidden" name="period" value="@Model.Period" />
                <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="startPeriodEnd" value="Start Period End">
            }
        @*}*@

        <br />
        <div>
            <ol id="pathContainer" class="app-task-list"></ol>
        </div>

        <br />

        @*@if (Model != null && Model.Period == Model.CurrentPeriod)
        {*@
            @using (Html.BeginForm("PublishReports", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
            {
                <input type="hidden" name="collectionYear" value="@Model.Year" />
                <input type="hidden" name="period" value="@Model.Period" />
                <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="publishReports" value="Publish Reports">
            }
        @*}*@
        
        <br />

        @*@if (Model != null && Model.Period == Model.CurrentPeriod)
        {*@
            @using (Html.BeginForm("ClosePeriodEnd", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
             {
                 <input type="hidden" name="collectionYear" value="@Model.Year" />
                 <input type="hidden" name="period" value="@Model.Period" />
                 <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="publishReports" value="Close Period End">
             }
        @*}*@
    </div>
</div>

@section PageScripts
{
    <script src="~/assets/js/periodEnd/renderPaths.js"></script>
    @*@if (Model != null && Model.Period == Model.CurrentPeriod)
    {*@
        <script src="~/assets/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/assets/js/hubs/periodEnd.js"></script>
    @*}*@

    <script>
        (function() {
            let paths = '@Html.Raw(Model?.Paths)';
            renderPaths(paths);
        })();
    </script>
}