@using ESFA.DC.Web.Operations.Constants
@using ESFA.DC.Web.Operations.Utils
@model string
@{
    ViewData["Title"] = "Index";
    ViewData[ViewDataConstants.DashBoard] = "Dashboard";
}

<div class="app-masthead">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-heading-s govuk-!-font-size-27 white-text">Search for a provider</span>
            <vc:provider-search search-type="existing"></vc:provider-search>
        </div>
        <div class="govuk-grid-column-one-third">
            <div>
                <a href="#">Advanced search</a>
                @Html.ActionLink("Add a new provider", "AddNewOption", "AddNew", new { area = AreaNames.Provider })
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-m">Data Collections <season></season></span>
            Health check
            <span class="govuk-caption-m">🕑<span class="govuk-body-s" id="lastTime">Waiting...</span></span>
        </h1>
    </div>
    <div class="govuk-grid-column-one-half">
        <section class="info">
            <div class="govuk-heading-s no-margin-bottom">Average processing time</div>
            <span class="inline-display">
                <h3 class="govuk-heading-xl no-margin-bottom govuk-teal">
                    <span id="average">Waiting...</span><text id="averageSymbol" style="color: orange; font-size: 20px"></text>
                </h3>
                <span class="govuk-body-s">Today</span>
            </span>
            <span class="inline-display govuk-!-margin-left-4">
                <h3 class="govuk-heading-xl no-margin-bottom">
                    <span id="averageLastHour">Waiting...</span><text id="averageLastHourSymbol" style="color: red; font-size: 20px"></text>
                </h3>
                <span class="govuk-body-s">Last hour</span>
            </span>

        </section>
    </div>
</div>
<div class="govuk-grid-row grey-background">
    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <h2 class="govuk-heading-m centre-text">
                @Html.ActionLink("Jobs processing", "Index", "JobProcessing", new { area = AreaNames.Processing })
            </h2>
            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <circle id="firstCircle" class="circle-chart__circle" stroke-width="3" stroke-dasharray="40,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <g class="circle-chart__info">
                    <text x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="firstDonut" data-count="">40</text>
                    <text x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2" id="firstLabel">Waiting...</text>
                </g>
            </svg>
        </section>
    </div>
    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <h2 class="govuk-heading-m centre-text">
                @Html.ActionLink("Jobs queued", "Index", "JobQueued", new { area = AreaNames.Processing })
            </h2>
            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <circle id="secondCircle" class="circle-chart__circle warning" stroke-width="3" stroke-dasharray="50,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <g class="circle-chart__info">
                    <text x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="secondDonut" data-count="">50</text>
                    <text x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2" id="secondLabel">Waiting...</text>
                </g>
            </svg>
        </section>
    </div>
    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <h2 class="govuk-heading-m centre-text">
                @Html.ActionLink("Submissions", "Index", "JobSubmitted", new { area = AreaNames.Processing })
            </h2>
            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <circle id="thirdCircle" class="circle-chart__circle warning danger" stroke-width="3" stroke-dasharray="35,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <g class="circle-chart__info">
                    <text x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="thirdDonut" data-count="">35</text>
                    <text x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2" id="thirdLabel">Waiting...</text>
                </g>
            </svg>
        </section>
    </div>

    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <h2 class="govuk-heading-m centre-text"><a href="submissions-v2">Queues</a></h2>
            <canvas id="queueSystem" width="200" height="200"></canvas>
        </section>
    </div>

    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <h2 class="govuk-heading-m centre-text"><a href="submissions-v2">Topics</a></h2>
            <canvas id="queueTopics" width="200" height="200"></canvas>
        </section>
    </div>

    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <h2 class="govuk-heading-m centre-text"><a href="submissions-v2">ILR</a></h2>
            <canvas id="queueIlr" width="200" height="200"></canvas>
        </section>
    </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Red zone</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="border-top">
            <h2 class="govuk-heading-m">
                @Html.ActionLink("Failed today", "Index", "JobFailedToday", new { area = AreaNames.Processing })
            </h2>
            <span id="failedToday" class="govuk-heading-l no-margin-bottom">4</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top">
            <h2 class="govuk-heading-m">
                @Html.ActionLink("Slow files", "Index", "JobSlowFile", new { area = AreaNames.Processing })
            </h2>
            <span id="slowFiles" class="govuk-heading-l no-margin-bottom">16</span>
            <span class="govuk-body-s">Taking 20% longer than usual</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top">
            <h2 class="govuk-heading-m">
                @Html.ActionLink("Concerns", "Index", "JobConcern", new { area = AreaNames.Processing })
            </h2>
            <span id="concerns" class="govuk-heading-l no-margin-bottom">3</span>
            <span class="govuk-body-s">Providers with rejected files and no successful submission this period</span>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Processing in detail</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="border-top">
            <h2 class="govuk-heading-m">
                @Html.ActionLink("Current Period", "CurrentPeriod", "JobProcessingDetail", new { area = AreaNames.Processing })
            </h2>
            <span id="lastPeriod" class="govuk-heading-l no-margin-bottom">40</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top ">
            <h2 class="govuk-heading-m">
                @Html.ActionLink("Last Hour", "LastHour", "JobProcessingDetail", new { area = AreaNames.Processing })
            </h2>
            <span id="lastHour" class="govuk-heading-l no-margin-bottom">7</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top ">
            <h2 class="govuk-heading-m">
                @Html.ActionLink("Last 5 Minutes", "LastFiveMins", "JobProcessingDetail", new { area = AreaNames.Processing })
            </h2>
            <span id="last5Minutes" class="govuk-heading-l no-margin-bottom">18</span>
        </div>
    </div>
</div>

<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <label id="lastSync"></label>

        <label id="state"></label>
    </div>
</div>

@section PageScripts
{
    <script src="~/assets/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/js/chartJs/Chart.bundle.min.js"></script>

    <script type="module">
        import DashBoardController from "/assets/js/dashBoard/dashBoardController.js";
        import Hub from '/assets/js/hubs/dashBoardHub.js';

        const hub = new Hub();
        hub.startHub();

        const dashBoardController = new DashBoardController();

        (function() {
            const data = '@Html.Raw(Model)';

            dashBoardController.updatePage(data);
        })();
    </script>

    <script>
        function searchProviderOnConfirm(result) {
            var manageProvidersUrl = '@Url.Action("Index", "ManageProviders", new { Area = "Provider", ukprn = "__ukprn__" })';
            window.location.href = manageProvidersUrl.replace('__ukprn__', result.ukprn);
        }
    </script>
}
