@model ESFA.DC.Web.Operations.Areas.PeriodEnd.Models.PeriodEndReportViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-bottom: 10px;">Period end reports</h1>
        <br />
        <h2 class="govuk-heading-l">Period R@(Model.Period.ToString().PadLeft(2, '0')) of Year @Model.Year</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Collection Stats</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Collection</th>
                    <th class="govuk-table__header" scope="col">Successful</th>
                    <th class="govuk-table__header" scope="col">Failed</th>
                    <th class="govuk-table__header" scope="col">Total</th>
                    <th class="govuk-table__header" scope="col">Successful %</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model != null && Model.CollectionStats.Any())
                {
                    foreach (var collectionStat in Model.CollectionStats)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@collectionStat.CollectionName</td>
                            <td class="govuk-table__cell">@collectionStat.CountOfComplete</td>
                            <td class="govuk-table__cell">@collectionStat.CountOfFail</td>
                            <td class="govuk-table__cell">@collectionStat.Total</td>
                            <td class="govuk-table__cell">@collectionStat.Percent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Internal Reports</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Report name</th>
                    <th class="govuk-table__header" scope="col">Download</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model != null && Model.ReportDetails.Any())
                {
                    foreach (var reportDetail in Model.ReportDetails.Where(rd => !string.IsNullOrEmpty(rd.Url)))
                    {
                        var fileDisplayName = reportDetail.Url.Substring(reportDetail.Url.LastIndexOf("/", StringComparison.Ordinal) + 1);
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@reportDetail.DisplayName</td>
                            <td class="govuk-table__cell">
                                @Html.ActionLink(fileDisplayName, "GetReportFile", new { collectionYear = Model.Year, fileName = reportDetail.Url })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Sample Reports</h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Report name</th>
                    <th class="govuk-table__header" scope="col">Download</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model != null && Model.SampleReports.Any())
                {
                    foreach (var reportDetail in Model.SampleReports)
                    {
                        var fileDisplayName = reportDetail.Url.Substring(reportDetail.Url.LastIndexOf("/", StringComparison.Ordinal) + 1);
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@reportDetail.DisplayName</td>
                            <td class="govuk-table__cell">
                                @Html.ActionLink(fileDisplayName, "GetReportFile", new { collectionYear = Model.Year, period = Model.Period, fileName = reportDetail.Url })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>