@model ESFA.DC.Web.Operations.ViewModels.PeriodEndPrepViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-bottom: 10px;">Period end</h1>
        <br/>
        <h2 class="govuk-heading-l">Period R@(Model.Period.ToString().PadLeft(2, '0')) of Year @Model.Year</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
            <li>
                <a href="#" class="govuk-link">Application version</a>
            </li>
            <li>
                <a href="#" class="govuk-link">Email distribution</a>
            </li>
            <li>
                <div class="flex"><a href="#" class="govuk-link ">Reports </a></div>
            </li>
            <li>
                <a href="#" class="govuk-link">History</a>
            </li>
        </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
        @*@using (Html.BeginForm("SelectPeriod", "PeriodEndPrep", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <div>
                <span style="display: inline-block; width: 170px; text-align: right;"><label>Collection Year</label></span>
                <input type="text" name="collectionYear" style="float: right; width: 200px; margin-left: 10px;" />
            </div>

            <div>
                <span style="display: inline-block; width: 170px; text-align: right;"><label>Period</label></span>
                <input type="text" name="period" style="float: right; width: 200px; margin-left: 10px;" />
            </div>

            <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="start" value="Select Period">
        }

        <br />
        <br />*@

        @if (Model != null)
        {
            <div class="flex space-between">
                <h2 class="govuk-heading-m">Failed submissions</h2>
            </div>

            @using (Html.BeginForm("ReSubmitJob", "PeriodEndPrep", FormMethod.Post, new { @class = "app-task-list__section" }))
            {
                <input type="hidden" name="collectionYear" value="@Model.Year" />
                <input type="hidden" name="period" value="@Model.Period" />

                @if (Model.FailedJobs.Any())
                 {
                     foreach (var failedJob in Model.FailedJobs)
                     {
                         var provider = $"{failedJob.Ukprn} - {failedJob.OrganisationName}";

                          <div class="main-card">
                              <div class="flex govuk-!-margin-bottom-2">
                                  <strong class="govuk-link govuk-!-font-size-19 provider-title ">@provider</strong>
                              </div>
                              <div class="govuk-body card-wrapper ilr">
                                  <div class="flex space-between govuk-!-margin-bottom-2">
                                      <span class="wrong-file-name">@failedJob.CollectionName</span>
                                      <div class="submit-and-clear">
                                          <button type="submit" name="jobId" value="@failedJob.JobId">Submit Again</button>
                                          @*&nbsp &nbsp <a href="#">Clear from list</a>*@
                                      </div>
                                  </div>
                                  <div class="flex space-between">
                                      <span class="govuk-!-font-size-16">@failedJob.FileName</span>
                                      <span class="govuk-!-font-size-16">@failedJob.DateTimeSubmitted?.ToString("dd MMM yyyy hh.mm")</span>
                                  </div>
                              </div>
                              <hr class="main-divider">
                          </div>
                      }
                 }
                 else
                 {
                     <div class="govuk-!-font-size-16">No Failed Jobs</div>
                 }
            }
        }

        <br />
        <br />

        @if (Model != null)
        {
            <h2 class="govuk-heading-m">Reference data jobs</h2>

            @using (Html.BeginForm("PauseReferenceJobs", "PeriodEndPrep", FormMethod.Post, new { @class = "app-task-list__section" }))
            {
                <input type="hidden" name="collectionYear" value="@Model.Year" />
                <input type="hidden" name="period" value="@Model.Period" />
                <input type="submit" class="govuk-button" style="margin-left: 0;" onclick = "return confirm('Are you sure you want to pause reference data jobs?');"
                       id="pauseReferenceData" value="Pause Reference Data Jobs">
            }

            <table class="govuk-table">

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Job</th>
                        <th class="govuk-table__header" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if (Model.ReferenceDataJobs.Any())
                    {
                        foreach (var refDataJob in Model.ReferenceDataJobs)
                        {
                            var status = refDataJob.Status;
                            var displayStatus = status.Equals("Paused", StringComparison.OrdinalIgnoreCase)
                                ? "Paused"
                                : status.Equals("Enabled", StringComparison.OrdinalIgnoreCase) ? $"Next due: {refDataJob.NextRunDue}" : "Disabled";
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@refDataJob.DisplayName</td>
                                <td class="govuk-table__cell">
                                    @displayStatus
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="2">No scheduled jobs</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <br />
        <br />

        @using (Html.BeginForm("StartPeriodEnd", "PeriodEndPrep", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <input type="hidden" name="collectionYear" value="@Model.Year" />
            <input type="hidden" name="period" value="@Model.Period" />
            <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="startPeriodEnd" value="Continue">
        }
    </div>
</div>