@model ESFA.DC.Web.Operations.Entities.JobSubscriptionTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobSubscriptionTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTopic.TopicName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTopic)
        </dt>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobTopicTaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
