@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "ConfirmRemove";
}

<h1 class="govuk-heading-xl">Remove recipient</h1>

<p>Are you sure you want to remove <strong>@ViewData["email"]</strong> form the @ViewData["group"]?</p>

<form asp-controller="Recipient" asp-action="Remove" method="post" id="choiceform">
    <input type="hidden" name="recipientId" id="recipientId" value="@ViewData["recipientId"]" />
    <input type="hidden" name="recipientGroupId" id="recipientGroupId" value="@ViewData["recipientGroupId"]" />
    <input type="hidden" id="email" name="email" value="@ViewData["email"]" />
    <button class="govuk-button">
        Remove recipient
    </button>
    <p>
        <a href="/emaildistribution">Cancel</a>
    </p>
</form>

