@model IEnumerable<ESFA.DC.Web.Operations.Topics.Data.Entities.JobSubscriptionTask>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h1>Tasks</h1>

<a href="/topics">Go To Topics</a>
<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Collection: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead class="">
        <tr>
            <th style="text-align: left">
                @Html.DisplayNameFor(model => model.JobTopic.Collection)
            </th>
            <th style="text-align: left">
                @Html.DisplayNameFor(model => model.JobTopic)
            </th>
            <th style="text-align: left">
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th style="text-align: left">
                @Html.DisplayNameFor(model => model.TaskOrder)
            </th>
            <th style="text-align: left">
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th style="text-align: left">
                @Html.DisplayNameFor(model => model.JobTopic.IsFirstStage)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr style="background-color: @(item.Enabled.GetValueOrDefault()? "#808080" : "red"); color: white">
        
            <td style="text-align: left">
                @Html.DisplayFor(modelItem => item.JobTopic.Collection.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.JobTopic.SubscriptionName)
            </td>
            <td class="govuk-table__cell">
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td class="govuk-table__cell">
                @Html.DisplayFor(modelItem => item.TaskOrder)
            </td>
            <td class="govuk-table__cell">
                @item.Enabled
            </td>
            <td class="govuk-table__cell">
                @item.JobTopic.IsFirstStage
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobTopicTaskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobTopicTaskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobTopicTaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
