@using ESFA.DC.Web.Operations.Constants
@using MoreLinq
@model ESFA.DC.Web.Operations.Areas.Collections.Models.ManageCollectionsViewModel

@{
    ViewData["Title"] = "Manage Collections";
    ViewData[ViewDataConstants.BackLink] = "/";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage collections</h1>
        <br><br>
    </div>
</div>

@foreach (var year in Model.Collections.DistinctBy(d => d.CollectionYear).OrderByDescending(o => o.CollectionYear).Select(s => s.CollectionYear))
{
    <div class="govuk-grid-row">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    @($"{year.ToString().Substring(0, 2)}/{year.ToString().Substring(2, 2)}")
                </span>
            </summary>
            <div class="govuk-details__text">
                @foreach (var collection in Model.Collections.Where(c => c.CollectionYear == year))
                {
                    <div class="govuk-grid-column-one-third">
                        <div class="border-top ">
                            <h2 class="govuk-heading-m "><a class="govuk-link" asp-controller="ManageCollections" asp-area="Collections" asp-action="Index" asp-route-collectionId="@collection.CollectionId">@collection.CollectionName</a></h2>
                            <span class="govuk-body-s">Submissions @(@collection.IsCollectionOpen ? "open" : "closed")</span><br>
                            <span class="govuk-body-s">@collection.ManageCollectionsPeriodDisplayValue</span><br>
                            <span class="govuk-body-s">@collection.ManageCollectionsPeriodDateDisplayValue</span>
                        </div>
                    </div>
                }
            </div>
        </details>
    </div>
}