@model ESFA.DC.Web.Operations.Areas.Provider.Models.ManageProviderViewModel
@using ESFA.DC.Web.Operations.Constants
@using ESFA.DC.Web.Operations.Extensions

@{
    ViewData["Title"] = "Manage Providers";
    ViewData[ViewDataConstants.BackLink] = "/AddNewOption";
}

<br>
<div class="app-masthead">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-heading-s govuk-!-font-size-27 white-text">Search for a provider</span>
            <vc:provider-search search-type="existing"></vc:provider-search>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage provider</h1>
        <div class="govuk-link"><a asp-controller="AddNew" asp-action="Index" asp-route-ukprn="@Model.Ukprn">Edit provider details</a></div>
        <table class="govuk-table">
            <tbody class="govuk-table__body" id="providerDetails">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">Name </td>
                    <td class="govuk-table__cell">@Model.ProviderName <strong class="govuk-tag">Active</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">UKPRN</td>
                    <td class="govuk-table__cell">@Model.Ukprn</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">UPIN</td>
                    <td class="govuk-table__cell">@Model.Upin</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">Is MCA</td>
                    <td class="govuk-table__cell"><input asp-for="IsMca" onclick="return false;" type="checkbox" /></td>
                </tr>
            </tbody>
        </table>
        <br />
        <h1 class="govuk-heading-xl">Assignments</h1>
        <div class="govuk-link"><a asp-controller="ManageAssignments" asp-action="Index" asp-route-ukprn="@Model.Ukprn">Edit assignments</a></div>
        <p class="govuk-heading-s">Active</p>
        <span id="noActive" class="@("govuk-body " + (Model.CollectionAssignments.Any() ? "hidden" : string.Empty))">No active assignments</span>

        <table class="govuk-table" id="providerDetails">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Collection</th>
                    <th scope="col" class="govuk-table__header govuk-table__header">Start date</th>
                    <th scope="col" class="govuk-table__header govuk-table__header">End date</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var providerAssignment in Model.CollectionAssignments)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"> @providerAssignment.Name</th>
                        <td class="govuk-table__cell govuk-table__cell"> @providerAssignment.StartDate.Value.ToDateString()</td>
                        <td class="govuk-table__cell govuk-table__cell">@(@providerAssignment.EndDate.HasValue && @providerAssignment.EndDate.Value != new DateTime(2600, 7, 31) ? @providerAssignment.EndDate.Value.ToDateString() : string.Empty)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section PageScripts
{
    <partial name="_InitialState" model="Model" />
    <script src="~/assets/js/providerSearch/providerSearchConfirm.js" asp-append-version="true"></script>
}
