@using ESFA.DC.Web.Operations.Constants
@model ESFA.DC.Web.Operations.Areas.Provider.Models.ProviderViewModel

@{
    ViewData["Title"] = "Add New Provider";
    ViewData[ViewDataConstants.BackLink] = "/";
}

<div class="app-masthead">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-heading-s govuk-!-font-size-27 white-text">Search for a provider</span>
            <form class="govuk-form-group" action="provider-record">
                <div id="tt-overlay" class="autocomplete-wrapper"></div>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-x1">Provider's Details</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @using (Html.BeginForm())
        {
            <div class="govuk-form-group">
                <label class="govuk-label" for="name">Enter the provider's name</label>
                @Html.TextBoxFor(model => model.ProviderName, new { @class = "govuk-input govuk-input--width-20" })
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="name">Enter the provider's UKPRN</label>
                @Html.TextBoxFor(model => model.Ukprn, new { @class = "govuk-input govuk-input--width-20" })
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="name">Enter the provider's UPIN</label>
                @Html.TextBoxFor(model => model.Upin, new { @class = "govuk-input govuk-input--width-20" })
            </div>
            <div class="govuk-form-group">
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        @Html.CheckBoxFor(model => model.IsMca, new { @class = "govuk-checkboxes__input", id = "isMca", name = "isMca" })
                        <label class="govuk-label govuk-checkboxes__label" for="isMca">
                            Is MCA
                        </label>
                    </div>

                </div>
            </div>
            <br />
            <br />
            <button type="submit" class="govuk-button" formaction="@Url.Action("AddSingleProvider")">Continue</button>
            <br />
            <p>
                <div class="govuk-link">@Html.ActionLink("Cancel", "Index", "Home", new { area = "" })</div>
            </p>
        }
    </div>
</div>

@section PageScripts
{
    <script src="~/assets/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/minified/accessible-autocomplete.min.js"></script>

    <script type="module">
        import Client from '/assets/js/providerSearch/client.js';
        import Hub from '/assets/js/hubs/providerSearchHub.js';

        const hub = new Hub();
        hub.startHub();

        window.searchClient = new Client(hub.getConnection());

        function inputValueTemplate(result) {
            return result && result.providerName
        }

        function suggestionTemplate(result) {
            return result && '<strong>' + result.providerName + '</strong>' +
                ' ,' + result.ukprn + ' ,' + result.upin
        }

        var element = document.querySelector('#tt-overlay');
        var id = 'autocomplete-minLength';
        accessibleAutocomplete({
            element: element,
            id: id,
            minLength: 2,
            source: window.searchClient.providerSearch.bind(window.searchClient),
            templates: {
                inputValue: inputValueTemplate,
                suggestion: suggestionTemplate
            }
        });

    </script>
}
