@using ESFA.DC.Web.Operations.Areas.PeriodEnd.Models
@using ESFA.DC.Web.Operations.Utils
@model ESFA.DC.Web.Operations.Areas.PeriodEnd.Models.PeriodEndViewModel
@{
    ViewData["Title"] = "Period End";
}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>

            <li class="govuk-breadcrumbs__list-item" aria-current="page">Period end</li>
        </ol>
    </div>

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row govuk-!-margin-top-6">
            <div class="govuk-grid-column-one-third">
                <ul class="govuk-list">
                    <li>
                        <h3 class="home-services__heading">@Html.ActionLink("ALLF", "Index", "Actuals", new { area = AreaNames.PeriodEndALLF }, new { @class = "govuk-link" })</h3>
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-7">Period R@($"{Model.ALLFPeriodEndInfo.Period:D2}"), @Model.ALLFPeriodEndInfo.Year</p>

                    </li>
                    <li>
                        <h3 class="home-services__heading">
                            @Html.ActionLink("Application Version", "Index", "Version", new { area = AreaNames.PeriodEndILR }, new { @class = "govuk-link" })
                        </h3>
                        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Service fabric application information includes version, health state and status</p>
                    </li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                <ul class="govuk-list">
                    <li>
                        <h3 class="home-services__heading">@Html.ActionLink("ILR", "Index", "PeriodEndPrep", new { area = AreaNames.PeriodEndILR }, new { @class = "govuk-link" })</h3>
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-7">Period R@($"{Model.ILRPeriodEndInfo.Period:D2}"), @Model.ILRPeriodEndInfo.Year</p>
                    </li>


                    <li>
                        <h3 class="home-services__heading">@Html.ActionLink("Email Distribution", "Index", "List", new { area = AreaNames.EmailDistribution }, new { @class = "govuk-link" })</h3>
                        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Includes Email distribution list, add new participants and manage email templates.</p>
                    </li>

                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                <ul class="govuk-list">
                    <li>
                        <h3 class="home-services__heading">@Html.ActionLink("NCS", "Index", "PeriodEndPrep", new { area = AreaNames.PeriodEndNCS }, new { @class = "govuk-link" })</h3>
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-7">Period N@($"{Model.NCSPeriodEndInfo.Period:D2}"), @Model.NCSPeriodEndInfo.Year</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
