@model ESFA.DC.Web.Operations.Areas.PeriodEnd.Models.PeriodEndViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        Path summary goes here
    </div>

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-bottom: 10px;">Period end</h1>
        <br />
        <h2 class="govuk-heading-l">Period R@(Model.Period.ToString().PadLeft(2, '0')) of Year @Model.Year</h2>


        <br />
        <br />

        @using (Html.BeginForm("StartPeriodEnd", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <input type="hidden" name="collectionYear" value="@Model.Year" />
            <input type="hidden" name="period" value="@Model.Period" />
            <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="startPeriodEnd" value="Start Period End"
                   onclick="window.startPeriodEnd(@Model.Year, @Model.Period); return false;"
                   @*@(Model.Closed ? string.Empty : "disabled" )*@ />
        }

        <br />
        <br />

        <div>
            <ol id="pathContainer" class="app-task-list"></ol>
        </div>

        <br />
        <br />

        @using (Html.BeginForm("PublishMcaReports", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <input type="hidden" name="collectionYear" value="@Model.Year" />
            <input type="hidden" name="period" value="@Model.Period" />
            <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="publishReports" value="Publish MCA Reports">
        }

        <br />
        <br />

        @*@if (Model != null && Model.Period == Model.CurrentPeriod)
        {*@
        @using (Html.BeginForm("PublishProviderReports", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <input type="hidden" name="collectionYear" value="@Model.Year" />
            <input type="hidden" name="period" value="@Model.Period" />
            <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="publishReports" value="Publish Provider Reports">
        }
        @*}*@

        <br />
        <br />

        @*@if (Model != null && Model.Period == Model.CurrentPeriod)
        {*@
        @using (Html.BeginForm("ClosePeriodEnd", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <input type="hidden" name="collectionYear" value="@Model.Year" />
            <input type="hidden" name="period" value="@Model.Period" />
            <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="publishReports" value="Close Period End">
        }
        @*}*@

        <br />
        <br />

        @using (Html.BeginForm("UnPauseReferenceJobs", "PeriodEnd", FormMethod.Post, new { @class = "app-task-list__section" }))
        {
            <input type="hidden" name="collectionYear" value="@Model.Year" />
            <input type="hidden" name="period" value="@Model.Period" />
            <input type="submit" class="govuk-button customised" style="margin-left: 0;" id="resumeReferenceData" value="Resume Reference Data Jobs">
        }
    </div>
</div>

@section PageScripts
{
    <script src="~/assets/js/periodEnd/renderPaths.js"></script>
    
    @if (Model != null && Model.Closed)
    {
        <script src="~/assets/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/assets/js/hubs/periodEnd.js"></script>
    }

    <script>
        (function() {
            let paths = '@Html.Raw(Model?.Paths)';
            renderPaths(paths);
        })();
    </script>
}