@using ESFA.DC.Web.Operations.Areas.RuleValidation.Models
@model ESFA.DC.Web.Operations.Areas.RuleValidation.Models.ReportViewModel
@{
    ViewData["Title"] = " Validation Rule Details Report";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Providers who triggered @Model.Rule</h1>
        <h3 class="govuk-heading-l">Academic Year:  @Model.Year</h3>

    </div>
    <br>
</div>

<div class="govuk-grid-row">
    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Provider name</th>
            <th class="govuk-table__header" scope="col">UKPRN</th>
            <th class="govuk-table__header" scope="col">Errors</th>
            <th class="govuk-table__header" scope="col">Warnings</th>
            <th class="govuk-table__header" scope="col">Submission date</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (KeyValuePair<string, List<ValidationRuleDetail>> item in Model.Validationruledetails)
        {
            <tr class="govuk-table__row"><td ><h3>@item.Key</h3></td></tr>
            foreach (var ruleDetail in item.Value)
            {
                <tr class="govuk-table__row">
                    @*<th class="govuk-table__header" scope="row">@ruleDetail.ProviderName</th>*@
                    <td class="govuk-table__cell">@ruleDetail.ProviderName</td>
                    <td class="govuk-table__cell">@ruleDetail.UkPrn</td>
                    <td class="govuk-table__cell">@ruleDetail.Errors</td>
                    <td class="govuk-table__cell">@ruleDetail.Warnings</td>
                    <td class="govuk-table__cell">@ruleDetail.SubmissionDate.ToString("d/MM/yyyy")</td>
                </tr>
            }
        }
           
        </tbody>
    </table>
    <form asp-controller="Rulevalidation" asp-action="DownloadReport" method="post">

        <input asp-for="ContainerName" type="hidden" />
        <input asp-for="JobId" type="hidden" />
        <input asp-for="ReportFileName" type="hidden" />
        <input asp-for="Rule" type="hidden" />
        <input asp-for="Year" type="hidden" />
        <button class="govuk-button" type="submit" data-module="govuk-button">
            Download CSV
        </button>
    </form>
